@font-face {
    font-family: "Fraunces";
    src: url(Fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
}
@font-face {
    font-family:"Montserrat";
    src: url(Montserrat/Montserrat-VariableFont_wght.ttf);
}
*{
    margin: 0px;
    padding: 0px;
}
body{
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: hsl(30, 38%, 92%);
}
.Contaner{
    box-shadow:0px 8px 15px hsla(0, 0%, 0%, 0.371);
    border-radius: 10px;
    background-color: white;
    width: 590px;
    height: 450px;
    margin-top: 130px;
    display: flex;

}
.leftSide{
    width:300px;
}
img{
    border-radius: 10px 0px 0px 10px;
    width:300px;
}
.Perfume{
    margin-top: 30px;
    margin-left: 30px;
    color: hsl(0, 0%, 45%);
    font-family:"Montserrat" ;
    letter-spacing: 3px;
    /* المسافة بين الأحرف */
    text-transform: uppercase;
    /* تحويل النص إلى أحرف كبيرة */
}
.Tittle{
    line-height: 0.95;   /* تقليل المسافة بين السطور */
    width: 195px;
    margin-top:15px;
    margin-left: 30px;
    font-weight: bold;
    font-family: "Fraunces";
    font-size: xx-large;
}
.desc{
    width: 222px;
    margin-top: 40px;
    margin-left: 30px;
    font-size: 14px;
    font-family: "Montserrat";
    color: hsl(0, 0%, 45%);
}
.sale{
    display: flex;
}
.cost{
    margin-top: 30px;
    margin-left: 30px;
    color: hsl(158, 36%, 37%);
    font-family: "Fraunces";
    font-size:xx-large;
    font-weight: bolder;
}
.oldCost{
    color: hsl(0, 0%, 45%);
    margin-top: 40px;
    margin-left: 30px;
    text-decoration: line-through;
}
.button{
    display: flex;
}
button{
    display: flex;
    font-weight: bold;
    color: white;
    margin-top: 25px;
    height: auto;
    width: 230px;
    margin-left: 30px;
    border: none;
    border-radius: 8px;
    background-color:hsl(158, 36%, 37%) ;
}
i img{
    margin-left: 45px;
    width: 20px;
    padding: 10px;
}
button p{
    font-family:"Montserrat" ;
    margin-top: 15px;
    width: 100px;
}
